 <!DOCTYPE html>
<html lang="en">
<head>
  <title>MyFirstApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  </style>
</head>
<body>
<img src=".\static\Digital-Lync-Technologies-Logo.jpg" alt="Img" width="100%" height="480px"></img>
<form action="/construction_page" method="get" >
<div class="btn-group-vertical btn-block">
    <button type="submit" class="btn btn-info">In The News</button>
    <button type="submit" class="btn btn-info">Offerings</button>
    <button type="submit" class="btn btn-info">Videos</button>
    <button type="submit" class="btn btn-info">Locations</button>
    <button type="submit" class="btn btn-info">Calendar</button>
    <button type="submit" class="btn btn-info">Students</button>
    <button type="submit" class="btn btn-info">Teachers</button>
    <button type="submit" class="btn btn-info" formaction = "/capture_lead" method = "get">Leads</button>
  </div>
 </form>
<div class="container-fluid">
  
</div>
</body>
</html>